* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* DESKTOP FIRST */

.box {
  width: 400px;
  height: 400px;
  background-color: orangered;
}

/* ----------------- RESPONSIVIDADE ----------------- */

@media screen and (max-width: 768px) {
  .box {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .box {
    background-color: blueviolet;
  }
}